<%= notice %>
  <section class="function container-fluid">

	<div class="row">
      <div class="function-images">
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "home.png" %>">
            <p>ホーム</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "moment.png" %>">
            <p>モーメント</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "notice.png" %>">
            <p>通知</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "message.png" %>">
            <p>メッセージ</p>
          </div>
        </div>
      </div>
    </div>

</section>
  


<section class="about">
  <img src="<%= asset_path "bird.png" %>">
  <h1>Twitterっぽく</h1>
  <p>つぶやきます<br>
     
  </p>
</section>


<div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>
