<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <B>ツイート </B>  <%= link_to "ツイートと返信", new_tweet_path, class: 'btn btn-default' %>
    <% @tweets.each do |tweet| %>
    <div class="row">
      <img src="<%= asset_path "bird.png" %>">やっちゃん
      <p><%= tweet.content %></p>
      <%= link_to "編集", edit_tweet_path(tweet.id), class: 'btn btn-default btn-sm btn-primary' %>
      <%= link_to "削除", tweet_path(tweet.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-info' %>
    </div>
    <% end %>
  </div>
</div>